@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: 'Spartan', sans-serif;
}
html{
    margin: 100px;
}
.flex {
    display:flex;
    align-items: center;
}
body{
    justify-content: space-between;
    margin: auto;
}
header{
    justify-content: space-between;
    height:400px;
}
header h1{
    font-size: 40px;
    color: hsl(300, 43%, 22%);
}
header section{
    width: 50%;
    

}
.rating{
    width: 50%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}
.starbox{
    background-color: hsl(300, 24%, 96%);
    color: hsl(300, 43%, 22%);
    font-weight: bold;
    border-radius: 5px;
    padding: 10px 20px ;
    width: 370px;
    box-sizing: border-box;
    height: 50px;
    margin-top: 30px;
    

}

.starbox img{
    width: 15px;
}
.starbox h3{
    padding-left: 30px;
}
.title{
    flex-direction: column;
    justify-content: center;
    width: 30%
}
main{
    justify-content: space-between;
}
.feedback{
    background-color: hsl(300, 43%, 22%);
    border-radius: 5px;
    width: 300px;
    height: 200px;
    color: white;
    box-sizing: border-box;
    padding: 25px 35px;
    font-size: 12px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
img{
    border-radius: 50%;
    width: 40px;
}
.author{
    font-weight: lighter;
}

.author h5 {
    padding-left:20px;
}

.author h5 p{
    color: hsl(333, 80%, 67%);

}
